{{#each records}}
<div class="record-div">
  <div class="title">
    <div style="display:flex">
      <i class="{{this.icon}}"></i>
      <div class="ms-3">
        <h4 id="name">{{this.name}}</h4>
        <p id="date">{{this.date}}</p>
      </div>
    </div>
    <p class="ms-3" id="amount">{{this.amount}}</p>
  </div>
  <div class="button-div ms-5">
    <a href="/records/edit/{{this._id}}" class="btn btn-primary">修改</a>
    <form action="/records/delete/{{this._id}}" method="POST" class="ms-3">
      <button type="submit" class="btn btn-primary">刪除</button>
    </form>
  </div>
</div>
{{/each}}