<div class="container index-container">
  <form action="#" id="sort-form">
    <select class="form-select" aria-label="Default select example">
      <option selected>類別</option>
      <option value="1">家居物業</option>
      <option value="2">交通出行</option>
      <option value="3">休閒娛樂</option>
      <option value="4">餐飲食品</option>
      <option value="5">其他</option>
    </select>
  </form>

  <div class="total-div">
    <div id="total-text"><span>總金額:</span></div>
    <div id="total-number">25260</div>
  </div>
  {{#each records}}
    <div class="record-div">
      <div class="title">
        <div style="display:flex">
          <i class="{{this.icon}}"></i>
          <div class="ms-3">
            <h4 id="name">{{this.name}}</h4>
            <p id="date">{{this.date}}</p>
          </div>
        </div>
        <p class="ms-3" id="amount">{{this.amount}}</p>
      </div>
      <div class="button-div ms-5">
        <a href="/records/edit/{{this._id}}">修改</a>
        <a href="/records/delete/{{this._id}}">刪除</a>
      </div>
    </div>
  {{/each}}
  
  <a class="btn btn-primary mt-5" href="/records/new" id="new-button">新增支出</a>
</div>

  
  
  
 
  